/* inizio del nav */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-nav {
    width: 100%;
    height: 40%;
    padding: 2em 1em;
    background-color: red;
    text-align: center;
}

li,ul,.logo {
    display: inline-block;
}

li {
    padding-right: 2em;
    padding-left: 2em;
}

.navigator-lis-right {
    float: right;
}

.navigator-lis-left {
    float: left;
}

.logo {
    background-color: aqua;
    float: left;
    vertical-align: center;
}

/* fine del nav*/





