
:root{
    --blueasiwant: rgb(37, 37, 218);
}
/* inizio del nav */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-nav {
    width: 100%;
    height: 5%;
    padding: 2em 1em;
    background-color: white;
    position: fixed;
}

li,ul,.logo {
    display: inline-block;
}

li {
    padding-right: 2em;
    padding-left: 2em;
}

.navigator-lis-right a, .navigator-lis-left a{
    text-decoration: none;
    color: black;
}

.inizia {
    background: var(--blueasiwant);
    color: white;
    padding: 10% 30%;
}
.navigator-lis-right {
    float: right;
}

.navigator-lis-left {
    float: left;
}  
/*
1 problema:
perchè il float annulla il padding? 
*/

.logo {
    float: left;
    vertical-align: center;
}

/* fine del nav*/

.container-bg {
    width: 100vw;
    height: 40em;
    background-color: rgb(146, 167, 206);
    margin: auto;
    padding: 5%;
}

.jumbotron {
    width: 60em;
    height: 30em;
    margin: auto;
}

.float {
    float: left;
}

.title {
    font-size: 200%;
    display: inline-block;
}

/*      start coleft */

.coleft {
    width: 30%;
}

.subtitle {
    display: inline-block;
    margin-top: 20%;
}

.freetrial {
    display: inline-block;
    background: var(--blueasiwant);
    padding: 2%;
    color: white;
    border: 0;
    margin-top: 10%;
}

.annulla {
    display: block;
    margin-top: 3%;
    font-size: 90%;
}

.down{
    display: inline-block;
    margin-top: 10%;
}

/*      end coleft */


/*      start colright */
.colright {
    width: 70%;
}
.jumbopng {
    margin-top: 10%;
    width: 130%;
    height: auto%;
}
/*      end colright */
/*      FINE HEADER     */


/*      START MAIN      */
main{
    margin-right: 22%;
    margin-left: 22%;
    margin-top: 15%;
}

.header-main {
    position: relative;
}

hr {
    background: rgba(128, 128, 128, 0.466);
}

.title-main {
    font-size: 200%;
}

.mensile,.annuale {
    display: inline-block;
    margin-top: 3%;
    margin-right: 1%;
}

.check {
    color: var(--blueasiwant);
}

.coleft-main,.colcenter,.colright-main,.footer-main {
    border: 1px solid gray;
}

.coleft-main,.colcenter,.colright-main {
    width: 30%;
    padding-bottom: 15%;
    margin-top: 7%;
}

.coleft-main,.colcenter {
    margin-right: 20px;

}

.intestazione {
    text-align: center;
}

.caratteristiche {
    margin-top: 7%;
    margin-left: 5%;
    margin-right: 5%;
}

.price,.period {
    display: block;
}

.period {
    color: gray;
}

.sectiontwo {
    margin-top: 15%;
}

.sectionthree {
    margin-top: 15%;
    margin-bottom: 7%;
}

.freetrial30day {
    background-color: var(--blueasiwant);
    width: 100%;
    padding: 2%;
    border-bottom: 1px solid lightgray;
    color: white;
    border: 0;
}

.sectionfour {
    margin-top: 15%;
}

.salientpoint li {
    padding: 0;
}

.vi {
    color: lightseagreen;
}


















