/* inizio del nav */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-nav {
    width: 100%;
    height: 40%;
    padding: 2em 1em;
    background-color: red;
    text-align: center;
}

li,ul,.logo {
    display: inline-block;
}

li {
    padding-right: 2em;
    padding-left: 2em;
}

.navigator-lis-right {
    float: right;
}

.navigator-lis-left {
    float: left;
}  
/*
1 problema:
perchè il float annulla il padding? 
*/

.logo {
    float: left;
    vertical-align: center;
}

/* fine del nav*/

.container-bg {
    width: 100vw;
    height: 40em;
    background-color: #6495ED;
    margin: auto;
}

.jumbotron {
    width: 60em;
    height: 30em;
    margin: auto;
}

.float {
    float: left;
}


.title {
    font-size: 200%;
}

/*      start coleft */

.coleft {
    width: 30%;
}

.subtitle {
    display: inline-block;
    margin-top: 20%;
}

.trydropbox {
    display: inline-block;
    background: blue;
    padding: 2%;
    color: white;
    border: 0;
    margin-top: 10%;
}

.annulla {
    display: block;
    margin-top: 3%;
    font-size: 90%;
}

.down{
    display: inline-block;
    margin-top: 10%;
}

/*      end coleft */


/*      start colright */
.colright {
    width: 70%;
}
.jumbo {
    margin-top: 10%;
    width: 130%;
    height: auto%;
}
/*      end colright */




